.header__languages_link {
  font-size: 24px;
  text-decoration: none;
}

.header__languages_link + .header__languages_link {
  margin-left: 18px;
}

@media screen and (max-width: 320px) {
  .header__languages_link {
    font-size: 18px;
  }
}
