.places {
  margin: 0 11% 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place + .place {
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 4% 92px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0 0 65px 0;
  }
}
