.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 78px;
  max-width: 1280px;
  margin: auto;
}

.logo {
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .logo {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    margin-left: 16px;
    max-width: 156px;
    max-height: 36px;
  }
}
