.place__column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.place__column + .place__column {
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .place__column + .place__column {
    margin-left: 28px;
  }
}
