.cover__overlay {
  text-decoration: none;
  color: #fff;
  min-height: 740px;
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background: url(../../../images/cover-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.cover__overlay::after {
  content: "";
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover__overlay:hover::after {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
