@import url(./__column/place__column.css);
@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
  "title website"
  "image paragraph";
  column-gap: 40px;
}
