@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
  "title website"
  "image paragraph";
  column-gap: 40px;
}

.place + .place {
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 930px) {
  .place {
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 740px) {
  .place {
    justify-content: center;
    grid-template-columns: auto;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
  }
}
